APP_PORT=

NODE_ENV=

#SQLite
DB_TYPE=better-sqlite3
DB_DATABASE=

#PostgreSQL
# DB_TYPE=postgres
# DB_HOST=
# DB_PORT=
# DB_USERNAME=
# DB_PASSWORD=
# DB_DATABASE=

#Desativar o DB_SYNC em produção
DB_SYNC=
DB_AUTO_LOAD_ENTITIES=

#JWT
JWT_SECRET=''
JWT_EXPIRATION=''

#CORS   
CORS_WHITELIST=""